.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018282;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c6c6c;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
}
.close:before {
  height: 100%;
  width: 7px;
  left: 50%;
  transform: rotate(-45deg);
  bottom: 16%;
  left: 34%;
  border-left: 3px solid black;
}
.close:after {
  height: 100%;
  width: 7px;
  border-left: 3px solid black;
  transform: rotate(45deg);
  top: 15%;
  left: 35%;
}

.start-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
  right: 0;
}

.window {
  width: 800px;
  min-height: 200px;
  max-height: 400px;
}
.window:nth-child(2) {
  margin: 2rem;
}
.window-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.window-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 15px;
}
.button {
  width: 30px;
}
.footer {
  display: block;
  margin: 0.25rem;
  height: 31px;
  line-height: 31px;
  padding-left: 0.25rem;
}

.app-bar {
  position: absolute;
  bottom: 0;
}
.clock {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
}

.art-window {
  width: 800px;
  min-height: 200px;
  max-height: 800px;
}

.art-content {
  display: flex;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.art-image {
  height: 400px;
  width: 400px;
}

.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab {
  display: "flex";
  justify-content: "flex-start";
  gap: "20px";
  width: "200px";
}

@media only screen and (max-width: 600px) {
  .window {
    width: 300px;
    min-height: 200px;
    max-height: 500px;
  }

  .art-window {
    width: 300px;
    min-height: 200px;
    max-height: 500px;
  }

  .art-content {
    display: flex;
    height: 100%;
    width: 95%;
    gap: 10px;
    justify-content: space-between;
  }

  .art-image {
    height: 150px;
    width: 150px;
  }

  .start-item {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
  }
}
