.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018282;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c6c6c;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}
.close:before, .close:after{
  content:'';
  position: absolute;
}
.close:before {
  height: 100%;
  width: 7px;
  left: 50%;
  transform: rotate(-45deg);
  bottom: 15%;
  left: 35%;
  border-left: 3px solid black;
}
.close:after {
  height: 100%;
  width: 7px;
  border-left: 3px solid black;
  transform: rotate(45deg);
  top: 15%;
  left: 35%;
}


.window {
  width: 800px;
  min-height: 200px;
  max-height: 400px;
}
.window:nth-child(2) {
  margin: 2rem;
}
.window-content {
  display: flex;
  flex-direction: column;
  gap: 25px
}
.window-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 15px;
}
.button {
 width: 30px;
}
.footer {
  display: block;
  margin: 0.25rem;
  height: 31px;
  line-height: 31px;
  padding-left: 0.25rem;
}

.app-bar {
  position: absolute;
  bottom: 0
}
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}